:root {
  --dark-grey-blue: hsl(217, 19%, 35%);
  --desat-blue: hsl(214, 17%, 51%);
  --grey-blue: hsl(212, 23%, 69%);
  --light-grey-blue: hsl(210, 46%, 95%)
}

* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grey-blue);
}

.container {
  max-width: 50%;
  min-width: 300px;
  margin: 20vh auto;
}

.card {
  display: flex;
  background-color: white;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  overflow: hidden;
  /* outline: 1px solid red; */
  /* flex-wrap: wrap; */
}

.card-img {
  width: 100%;
  max-width: 600px;
  height: 250px;
  object-fit: cover;
}

.card-items {
  /* outline: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark-grey-blue);
}

p {
  color: var(--desat-blue);
}

.avatar-section {
  display: flex;
  justify-content: start;
}

.avatar-img {
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

.name {
  color: var(--dark-grey-blue);
  font-weight: 500;
}

.date {
  color: var(--grey-blue);
}

.share-button {
  margin-left: auto;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1220px) {
  .card {
    flex-direction: column;
  }
}